/* styles.css */
.game {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(10, 100px);
  grid-template-rows: repeat(8, 100px);
  background: transparent;
}


.wall {
  background-image: url(../asset/images/wall.jpg);
  height: 100px;
  width: 100px;
  overflow: hidden;
}

.brick {
  background-image: url(../asset/images/brick.jpeg);
  height: 100px;
  width: 100px;
  border-radius: 100%;
  overflow: hidden;
}



.card-game {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  margin-left: 125vh;
  margin-top: -80vh;
  width: 300px;
  height: 200px;
  color: white;
}

.card-game .item {
  border-radius: 50px;
  margin: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.life {
  font-size: 25px;
  font-weight: 600;
  background-image: url(../asset/images/vie.png);
  height: 44px;
  width: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.character1 {
  position: absolute;
  top: 120px;
  left: 130px;
  width: 60px;
  height: 100px;
  background-image: url(../asset/images/character/perso1/perso1.png);
  /* Ajustez les valeurs de background-position pour afficher la première image */
  background-position: -47px -430px;
}

.character2 {
  position: absolute;
  top: 120px;
  left: 830px;
  width: 60px;
  height: 100px;
  background-image: url(../asset/images/character/perso2/perso2.png);
  /* Ajustez les valeurs de background-position pour afficher la première image */
  background-position: -190px -430px;
}

.character3 {
  position: absolute;
  top: 600px;
  left: 130px;
  width: 60px;
  height: 100px;
  background-image: url(../asset/images/character/perso3/perso3.png);
  /* Ajustez les valeurs de background-position pour afficher la première image */
  background-position: -330px -430px;
}

.character4 {
  position: absolute;
  top: 600px;
  left: 830px;
  width: 60px;
  height: 100px;
  background-image: url(../asset/images/character/perso4/perso4.png);
  /* Ajustez les valeurs de background-position pour afficher la première image */
  background-position: -260px -430px;
}

.bombe {
    position: absolute;
    overflow: hidden;
    width: 32px;
    height: 40px;
    background-image: url(../asset/images/bombe.png);
    /* Ajustez les valeurs de background-position pour afficher la première image */
  background-position: -5px;
}

.explosion {
  position: absolute;
  width: 80px; /* Ajustez la largeur et la hauteur en fonction de vos besoins */
  height: 80px;
  background-image: url(../asset/images/explosion.gif);
  background-size: cover;
  animation: explode 1s steps(8) forwards; /* Créez une animation pour le GIF */
  border-radius: 30%;
}

@keyframes explode {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.reward-speed {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../asset/images/bonus_speed.png);
  background-size: cover;
  border-radius: 30%;
}

.reward-bomb {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../asset/images/bonus_bombe.png);
  background-size: cover;
  border-radius: 30%;
}

.reward-fire {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../asset/images/bonus_flame.png);
  background-size: cover;
  border-radius: 30%;
}

