@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&display=swap');



.players_heading {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    font-family: 'Handjet', cursive;
}


//////////////// PLAYER CARD /////////////
.card {
    margin: 0 auto;
    margin-top: 100px;
    width: 500px;
    height: 254px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    overflow: visible;
   }
   
   .card .item {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   
   .item:hover {
    transform: scale(0.95);
    transition: all 0.3s;
   }
   
   .item svg {
    width: 40px;
    height: 40px;
    margin-bottom: 7px;
   }
   
   .item--1 {
    background: #c7c7ff;
    font-family: 'Handjet', cursive;
   }
   
   .item--2 {
    background: #f32121;
    font-family: 'Handjet', cursive;
   }
   
   .item--3 {
    background: #9ff22e;
    font-family: 'Handjet', cursive;
   }
   
   .item--4 {
    background: #ff00ff;
    font-family: 'Handjet', cursive;
   }
   
   .Player1,.Player2,.Player3,.Player4 {
    font-size: 25px;
    font-weight: 600;
   }
   
   .text {
    font-size: 12px;
    font-family: inherit;
    font-weight: 600;
   }
   
   .text--1 {
    color: rgba(149,149,255,1);
   }
   
   .text--2 {
    color: rgba(252,161,71,1);
   }
   
   .text--3 {
    color: rgba(66,193,110,1);
   }
   
   .text--4 {
    color: rgba(220,91,183,1);
   }
//////////////// FIN PLAYER CARD /////////////



///////////////// CHRONO //////////////////
.base-timer {
    position: relative;
    width: 300px;
    height: 300px;
    margin-left: 595px;
    margin-top: 50px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }
///////////////// FIN CHRONO //////////////////


///////////// CHAT ///////////
